doctype html
html(lang="en")
	head
		meta(name="viewport", content="width=device-width, initial-scale=1")
		title MOOC -- Clickstream Data
		script(type="text/javascript", src="/js/app-bundle.js")
		link(rel="stylesheet", href="/css/main.css")
	body
		#map
			#content
				h1 MOOC<br />Clickstream<br />Data
				#sub
					p.lead#time Undefined
					button#start-stop Start/Stop
